<!DOCTYPE html>
{% load static %}

<html>
<head>

	<meta charset="utf-8">
	<title>Star Social</title>

	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">

	<!-- Optional theme -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap-theme.min.css" integrity="sha384-6pzBo3FDv/PJ8r2KRkGHifhEocL+1X2rVCTTkUfGk7/0pbek5mMa1upzvWbrUbOZ" crossorigin="anonymous">

	<!-- Latest compiled and minified JavaScript -->
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>

	<link href="https://fonts.googleapis.com/css2?family=Montserrat" rel="stylesheet">

	<link rel="stylesheet" type="text/css" href="{% static 'css/master.css' %}">

	<link rel="stylesheet" type="text/css" href="{% static 'simplesocial/css/master.css' %}">
</head>

<body>
	<nav class='navbar navbar-expand-lg navbar-dark bg-dark mynav' role='navigation' id='navbar'>
	<div class="container">
		<a class='navbar-brand mynav' href="{% url 'home' %}" class='mynav-content'><strong>Star Social</strong></a>
		<ul class="nav navbar-nav navbar-right">
			{% if user.is_authenticated %}
				<li><a href="{% url 'posts:new' %}" class='mynav-content'>Post</a></li>
				<li><a href="{% url 'groups:all' %}" class='mynav-content'>Groups</a></li>
				<li><a href="{% url 'groups:create' %}" class='mynav-content'>Create Group</a></li>
				<li><a href="{% url 'accounts:logout' %}" class='mynav-content'>Log Out</a></li>
			{% else %}
				<li><a href="{% url 'groups:all' %}" class='mynav-content'>Groups</a></li>
				<li><a href="{% url 'accounts:login' %}" class='mynav-content'>Log In</a></li>
				<li><a href="{% url 'accounts:signup' %}" class='mynav-content'>Sign Up</a></li>
			{% endif %}
		</ul>
	</div>
	</nav>
	<div class="container mycontent">
		{% block content %}
		{% endblock content %}
	</div>

<canvas id="canvas"></canvas>
<script type="text/javascript" src="{% static 'simplesocial/js/master.js' %}"></script>
</body>
</html>